@font-face {
  font-family: cera-black-regular;
  src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProBlackRegular.woff);
}


@font-face {
  font-family: cera-bold;
  src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProBold.woff);
}
@font-face {
  font-family: cera-light-regular;
  src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProLightRegular.woff);
}
@font-face {
  font-family: cera-regular;
  src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProRegular.woff);
}
@font-face {
  font-family: cera-thin-regular;
  src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProThinRegular.woff);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator-grid-containter {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.calculator-equal-button {
  grid-column: 1 / span 4;
}

.calculator-display {
  grid-column: 1/ span 4;
}
.timetable {
  border-style: dotted;
}

.horizontal {
  display: inline;
  align: center;
  margin-left: 10px;
}

.empty-period{
  display: inline-block;
  height: 40px;
  width: 70px;
  background-color: #555;  
  margin-left: 5px;
  margin-bottom: 2px;
}
.class-name {
  margin: auto;
  font-size: x-small;
}

.class-id{
  margin: auto;
  font-size: xx-small;
}
.search-bar i {
  position: absolute;
  top: 10px;
  left: 10px;
}


.input-icons {
  width: 250px;
  height: 40px;
}

.icon {
  padding: 5px;
  min-width: 40px;
}

.search-bar {
    position: relative;
    width: 250px;
    height: 40px;
    font-size: x-large;
    text-align: center;
    border-radius: 5px;
    border-color: #125948;
} 
.add-course-button {
  padding: 0;
  border: 1px;
  position: absolute;
  left: 0;
  display:inline-block;
  font-size: medium;
  width:100%;
  height:80px;
  background-color: white;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  
}
.add-course-button:hover{
  padding: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgb(236, 236, 236);
  background-color: white;
}
.course-code {
  position: absolute;
  left: 25%;
  top: 20%;
  font-size:x-large;
  font-family: cera-regular;
  color: rgb(28, 64, 161);
}
.course-name {
  position: absolute;
  left: 25%;
  top: 60%;
  font-size: medium;
  font-family: cera-thin-regular;
  color: white;
}
.icon {
  position: absolute;
  left: 7%;
  top: 30%;
}
.search-results {
    display:block;
    margin: 3px;
    padding: 5px;
    background-color: white;
    font-size: medium;
    color: black;
    height: 80px;
    width: 200px;
    
}
.search-results-box {
  position: relative;
  /*this is the color of the scroll bar */
  background-color: white;
  height: 700px;
  width: 100%;
  margin-top: 5px; 
  overflow: auto;
}

.semester-label {
  color:rgb(25, 25, 106);
  font-size: calc(7px + 2vmin);
  font-weight: bold;
}

.whole-webpage {
    display:flex;
    flex-direction:row;
    /*column-gap: 100px;*/
}

.main-window {
  display:flex;
  flex-direction:row;
  column-gap: 30px;
  width: 80%;
  margin-left: 5px;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
  border-style: dashed;
}


