.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
  margin: 0; height: 100%; overflow: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

