/* TODO: Fonts for the website */
@font-face {
    font-family: cera-black-regular;
    src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProBlackRegular.woff);
  }
  
  @font-face {
    font-family: cera-bold;
    src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProBold.woff);
  }
  @font-face {
    font-family: cera-light-regular;
    src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProLightRegular.woff);
  }
  @font-face {
    font-family: cera-regular;
    src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProRegular.woff);
  }
  @font-face {
    font-family: cera-thin-regular;
    src: url(./data/fonts/FONTSPRINGDEMO-CeraRoundProThinRegular.woff);
  }