/* Fonts for the website */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Montserrat:wght@600;700&family=Mukta&display=swap');


/* Formatting Rules for Tags */ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Asap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Classes */  
.App {
  text-align: center;
  background-color: rgb(245, 239, 255);
}

.Website-Header {
  background-color: rgb(176, 107, 237);
  height: 5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-family: cera-light-regular;
  color: rgb(0, 0, 0); 
  text-align: center;
  font-weight: 700;
}

.whole-webpage {
  display: grid;
  padding-top: 1%;
  grid-template-columns: 10% 60% 30%;
  grid-template-areas: 'control-bar main-window sidebar' '. message .';
}

.main-window {
  padding-top: 5px;
  grid-area: main-window;
}

.message {
  grid-area: message;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  border: 3px rgb(0, 0, 0)  solid;
  
}
.sidebar {
  border: 5px;
  border-style: double;
  grid-area: sidebar;
}

.control-bar {
  background-color: rgb(255, 255, 255);
  height: 60%;
  border-radius: 10px;
  border: 3px rgb(0, 0, 0)  solid;
  width: 80%;
  margin: auto;
  grid-area: control-bar;
}

/* TODO: OLD STUFFF To be updated*/ 


.App-link {
  color: #61dafb;
}


.horizontal {
  display: inline;
  align: center;
  margin-left: 10px;
}

.semester-label {
  color:rgb(25, 25, 106);
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  font-family: cera-regular;
}



.timetable {
  display: table;
  width: 100%;
}

#table_day {
  width: 100%;
}

#semester_block{
  border-style: solid;
  border-width: 1px; border-color: rgb(0, 0, 0); 
  width:50%;
}

#table_hour{
  border-style: solid;
  border-width: 1px; border-color: rgb(165, 165, 165); 
  width: 16.66%;
}

#legend-times{
  width: 3%;
  vertical-align: middle;
}

.tr{
  display: table-row;
}

.td{
  display: table-cell;
}

.semester{
  margin: auto;
}


/*way too much garbage*/

.class-name {
  margin: auto;
  font-weight: bolder;
  font-size: x-small;
}

.class-id{
  margin: auto;
  font-size: small;
  font-weight: bold;
}
.class-section{
  font-size: x-small;
}
.search-bar i {
  position: absolute;
  top: 10px;
  left: 10px;
}


.input-icons {
  width: 60%;
  height: 40px;
}

.icon {
  padding: 5px;
  min-width: 40px;
}

.search-bar {
    position: relative;
    width: 60%;
    height: 20%;
    font-size: x-large;
    text-align: center;
    border-radius: 5px;
    border-color: #125948;
} 

.add-course-square {/*
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: white;*/
  background-color: white;
  padding: 0;
  position: absolute;
  display:inline-block;
  font-size: medium;
  width:100%;
  height:80px;
  background-color: white;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  left: 0;
  border: white;
  border-style: solid;
  border-width: 3px; 
  
}
.add-course-square:hover{/*
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgb(236, 236, 236);*/
  border-top: black;
  border-bottom: black;
  border-style: solid;
  border-width: 3px; 
  background-color: grey;
}
.course-code {
  position: absolute;
  left: 25%;
  top: 20%;
  font-size:x-large;
  font-family: cera-regular;
  color: rgb(28, 64, 161);
}
.course-name {
  position: absolute;
  left: 25%;
  top: 60%;
  font-size: medium;
  font-family: cera-thin-regular;
  color: white;
}
.icon {
  position: absolute;
  left: 7%;
  top: 30%;
}
.search-results {
    margin: 3px;
    background-color: white;
    font-size: medium;
    color: black;
    height: 80px;
    width: 60%;
    
}
.search-results-box {
  position: relative;
  /*this is the color of the scroll bar */
  background-color: white;
  height: 700px;
  width: 100%;
  margin-top: 5px; 
  overflow: auto;
}

.fieldset-form {
  border-width: 2px;
  border-color: black;
}
