/* Fonts for the website */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Montserrat:wght@600;700&family=Mukta&display=swap');
@import "./Components/NonEssentialComponents/constraints.css";

/* Formatting Rules for Tags */ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Hide scrollbars */
}

h1 {
  font-family: Asap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Classes */  
.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.Website-Header {
  background-color: rgb(43, 48, 65);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  height: 20%;
  font-size: calc(5px + 2vmin);
  font-family: cera-light-regular;
  color: white;
  text-align: center;
  font-weight: 700;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'title help-menu';
}

.website-name{
  grid-area: 'title';
  margin: auto;
  height: 30%;
  font-family: 'Roboto Mono', monospace;
}

.whole-webpage {
  display: grid;
  padding-top: 1%;
  grid-template-columns: 10% 60% 30%;
  grid-template-rows:  1fr max-content 1fr;
  grid-template-areas: 'control-bar main-window sidebar' 'dedication . .';
  overflow: hidden;
}

.button{
  background-color: white;
  border: 3px black  solid;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

.main-window {
  grid-area: main-window;
  margin-bottom: 2%;
  height: max-content;
  margin: auto;
  width: 100%;
}

.message {
  grid-area: message;
  font-size: 20px;
  text-align: left;
  vertical-align: top;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  border: 3px rgb(0, 0, 0)  solid;
}

.control-buttons {
  display: grid;
  grid-gap: 5%;
  padding-top: 3%;
  grid-template-areas: "generate-button generate-button" "clear-class clear-constraints" "clear-all clear-all"; 
}

.generate-button{
  grid-area: generate-button;
}

.clear-class{
  grid-area: clear-class;
}
.clear-constraints{
  grid-area: clear-constraints;
}

.clear-all{
  grid-area: clear-all;
}
.sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 80%;
  margin: auto;
}



.control-bar {
  height: 70%;
  border-radius: 10px;
  border: 3px rgb(0, 0, 0)  solid;
  width: 80%;
  margin: auto;
  grid-area: control-bar;
  background-color: rgb(255, 255, 255);
  border: 3px rgb(0, 0, 0)  solid;
  border-radius: 10px;

}

.back-button{
  grid-area: back-button;
  margin-top:60%;
}

.current-timetable-number{
  grid-area: current-timetable-number;
  margin: auto;
}
.next-button{
  grid-area: next-button;
  margin-top: 5%;
}

#course-list-header{
  text-align: left;
}

#active-course-list-text{
  text-align: left;
  margin-left: 5%;
  grid-area: active-course-name;
  
  }
  
.active-course-list{
  
    display: grid;
    margin: 10px;
    grid-template-areas: 'active-course-name active-course-remove';
    grid-template-columns: 4fr 1fr;
    height: 40px;
    text-decoration:none;
    color:rgb(0, 0, 0);
    position:relative;
    padding:10px 20px;
    
    /*background-image: linear-gradient(bottom, rgb(73, 83, 111) 0%, rgb(43, 48, 65) 100%);*/
    /*border-left:solid 1px rgb(43, 48, 65);*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.active-course-list:nth-child(1){
  background-color:navajowhite;
  box-shadow: inset 0px 1px 0px navajowhite, 0px 5px 0px 0px rgb(213, 149, 52)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(2){
  background-color:lavender;
  box-shadow: inset 0px 1px 0px lavender, 0px 5px 0px 0px rgb(178, 178, 252)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(3){
  background-color:paleturquoise;
  box-shadow: inset 0px 1px 0px paleturquoise, 0px 5px 0px 0px rgb(61, 203, 203)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(4){
  background-color:palevioletred;
  box-shadow: inset 0px 1px 0px palevioletred, 0px 5px 0px 0px rgb(143, 28, 67)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(5){
  background-color:pink;
  box-shadow: inset 0px 1px 0px pink, 0px 5px 0px 0px rgb(198, 101, 117)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(6){
  background-color:salmon;
  box-shadow: inset 0px 1px 0px salmon, 0px 5px 0px 0px rgb(190, 78, 66)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(7){
  background-color:lightskyblue;
  box-shadow: inset 0px 1px 0px lightskyblue, 0px 5px 0px 0px rgb(55, 130, 177)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(8){
  background-color:lavender;
  box-shadow: inset 0px 1px 0px lavender, 0px 5px 0px 0px rgb(178, 178, 252)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(9){
  background-color:hotpink;
  box-shadow: inset 0px 1px 0px hotpink, 0px 5px 0px 0px rgb(150, 45, 98)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(10){
  background-color:lightblue;
  box-shadow: inset 0px 1px 0px lightblue, 0px 5px 0px 0px rgb(60, 140, 166)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(11){
  background-color:lightseagreen;
  box-shadow: inset 0px 1px 0px lightseagreen, 0px 5px 0px 0px rgb(8, 74, 71)/*, 0px 10px 5px #999*/;
} .active-course-list:nth-child(12){
  background-color:salmon;
  box-shadow: inset 0px 1px 0px salmon, 0px 5px 0px 0px rgb(190, 78, 66)/*, 0px 10px 5px #999*/;
}


#active-course-remove{
  grid-area: active-course-remove;
  height:80%;
  width: 80%;
  font-size: small;
  align-content: center;
  border: none;
  background: none;
}

.all-courses {
  height: 300px;
}
.App-link {
  color: #61dafb;
}


.horizontal {
  display: inline;
  align: center;
  margin-left: 10px;
}

.semester-label {
  color:rgb(43, 48, 65);
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  font-family: cera-regular;
}

.timetable {
  display: table;
  width: 100%;
  margin-bottom: 3%;
}

#table_day {
  width: 100%;
}


#table_hour{
  border-style: solid;
  border-width: 1px; border-color: rgb(165, 165, 165);
  width: 16.66%;
  height: 40px;
}

#legend-times{
  width: 3%;
  vertical-align: middle;
}

.tr{
  display: table-row;
}

.td{
  display: table-cell;
}

.semester{
  margin: auto;
}

/*HELP MENU */
.modal {
  font-size: 16px;
  background-color: white;
  color: black;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid rgb(43, 48, 65);
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: rgb(43, 48, 65);
  
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.help-menu{
  grid-area: help-menu;
}
/*way too much garbage*/

.class-id{
  margin: auto;
  font-size: small;
  font-weight: bold;
}
.class-section{
  font-weight: 500;
  font-size: x-small;
}

.active-courses{
  grid-area: active-courses;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  margin-top: 1%;
  overflow-y: auto;
}
.input-icons {
  width: 60%;
  height: 40px;
}

.icon {
  padding: 5px;
  min-width: 40px;
}

.search-bar-div{
  display: grid;
  grid-template-areas: 'search-icon search-bar';

}

.search-bar {
    position: relative;
    width: 90%;
    height: 100%;
    font-size: x-large;
    text-align: center;
    border: none;
    grid-area: search-bar;  
    border: 1px solid black;
    border-radius: 5px;
} 

.add-course-square {/*
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: white;*/
  background-color: rgb(233, 233, 233);
  padding: 0;
  position: absolute;
  display:inline-block;
  font-size: medium;
  width:100%;
  height:23%;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
  left: 0;
  border: rgb(172, 172, 172);
  border-style: solid;
  border-width: 3px; 
  
}
.add-course-square:hover{/*
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgb(236, 236, 236);*/
  border-top: black;
  border-bottom: black;
  border-style: solid;
  border-width: 3px; 
  background-color: grey;
}
.course-code {
  display: inline-block;
  font-size:x-large;
  font-family: cera-regular;
  color: rgb(43, 48, 65);
  vertical-align: middle;
}
.add-button{
  display: inline-block;
  vertical-align: middle;
}

#button_image{
  background-color: inherit;
  border: none;
  cursor: pointer;
  width: 60%;
}

.download-button-img{
  background-color: none;
  height: 80%;
  width: 80%;
  background-color: inherit;
  margin: auto;
  
}

#up-btn{
  padding-top: 50%;
}

#down-btn{
  padding-bottom: 10%;
}

.up_down-button-img{
  background-color: none;
  height: 50%;
  width: 50%;
  background-color: inherit;
  margin: auto;
}

.help-image{
  background-color: none;
  width: 20%;
  background-color: inherit;
  margin: auto;
  grid-area: help-menu;
}

.constraint-help-image{
  background-color: none;
  width: 15%;
  background-color: inherit;
  margin: auto;
}


.course-name {
  position: absolute;
  left: 25%;
  top: 60%;
  font-size: medium;
  font-family: cera-thin-regular;
  color: white;
}
.icon {
  position: absolute;
  left: 7%;
  top: 30%;
}
.search-results {
    margin: 3px;
    background-color: rgb(233, 233, 233);
    font-size: medium;
    color: black;
    height: 80px;
    width: 100%;
    
}
.download-button-div{
  margin-top: 100%;
  grid-area: download-button;
  margin: auto;
  padding-top: 100%;
  width: 80%;
 
}
.search-results-box {
  position: relative;
  /*this is the color of the scroll bar */
  background-color: rgb(233, 233, 233);
  height: 400px;
  width: 100%;
  overflow: auto;
  display: none;
}

.fieldset-form {
  border-width: 2px;
  border-color: black;
}
.list_course {
  max-height:100%
}